version: '3.3'
services: 
    hungry:
        container_name: app
        restart: always
        build: .
        ports: 
            - '4000:4000'
        volumes: 
            - .:/usr/src/hungry
        